.project {
    // height: 100vh;
    // overflow-y: scroll;
}
.project__wrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    right:0;
    justify-items: center;
    overflow-y: scroll;
    

    @include media('<=tablet') {
        display:unset;
    }
}
.project__title__wrapper {
    border-color: black;
    border-style: solid;
    border-width: 0rem .2rem 0rem 0rem;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    margin-left:4rem;
    padding-right: 8rem;
    width: 25%;
}
.project__title__view {
    @extend %title-20;
    position: fixed;
    width: 40%;
    line-height: 2;
    margin: auto 20rem;
    // top: 50%;
    // transform: translateY(-50%);
    // margin: 0rem 20rem;
 }
 .project__title__view__label {
    @extend %description-14;
    margin: auto 20rem;
    position: fixed;
    bottom: 2rem;
    transform: translateY(-50%);
 }
.project__title__view__wrapper {
    height:100vh;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    // opacity: 1;    
}
.features__wrapper{
    position:relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content:center;
    // align-items: center;
    margin: 4rem auto;
    
}
.project__launch__wrapper{
    display: flex;
    position: relative;
    width: 100%;
}
.project__launch__front {
    @extend %description-14;
        background-color: white;
        border-color: black;
        border-style: solid;
        border-width: .2rem;
        border-radius: .2rem;
        // margin: 9rem auto;
        padding: 1rem;
        position: absolute;
        top: 0rem;
        left: 0rem;
        z-index: 2;
        // will-change: top;
        // transition: top ease-in 400ms ;
        z-index: 1;
}
.project__launch__back{
    @extend %description-14;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: .2rem;
    border-radius: .2rem;
    // margin: 9rem auto;
    padding: 1rem;
    position: absolute;
    top: .45rem;
    left: .5rem;
    z-index: 1;
}
.project__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 50%;
    @include media('<=phone') {
        margin: auto 0;
        width:100%;
    }
};
.project__feature__text {
    @extend %description-14;
    // position: absolute;
    margin: 4rem 0rem 0rem 4rem;
    width: 100%;

        // &:first-child {
        //     margin: 4rem 0rem 0rem 4rem;
        // }
        
        &:nth-child(2) {
            margin: 4rem 0rem 0rem 4rem;
        }
    
        &:nth-child(3) {
            margin: 4rem 0rem 0rem 6rem;
        }


}
.project__heading {
    @extend %title-20;
   
    margin: 2.5rem 20rem 2.5rem 20rem ;

    // position: absolute;

    p:not(:first-child) {
        margin-top:2.5rem;
        margin-bottom: 2.5rem;
    }

    @include media('<=phone') {
        width: calc(100% - 15rem);
    }
}
.project__text {
    @extend %description-14;
   
    margin: 0rem 20rem 2.5rem 20rem ;

    // position: absolute;

    p:not(:first-child) {
        margin-top:2.5rem;
        margin-bottom: 2.5rem;
    }

    @include media('<=phone') {
        width: calc(100% - 15rem);
    }
}
.project__feature__text__title {
    @extend %description-14;
    margin: 4rem auto;
    // position: absolute; 
    // left: 0rem;
    // width: 100%;
}
.project__feature__tool {
    @extend %description-14;
    background: black;
    color: white;
    padding: .4rem .4rem .3rem .4rem;
    margin: .2rem;
    border-radius: .2rem;
   
}
.project__hero__wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-around;
}
.project__hero {
    @extend %center;
    background-color: white;
    // display: flex;
    // height: 100%;
// justify-content: center;
    position: relative;
    align-self: center;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 1rem;
    margin: 2.5rem 0rem 2.5rem 0rem;
    padding: 2rem 0rem 0rem 0rem;
    // width: 100%;
    overflow: hidden;
}
.project__hero__ui {
    position:absolute;
    top: .5rem;
    left: .5rem;
}
.project__hero__ui__mobile {
    position:absolute;
    top: 1rem;
    width: 5rem;
    border-color: black;
    border-style: solid;
    border-width: 2px 0px 0px 0px;
}
.project__hero__image {
    @extend %cover;
    @extend %center;
   
    border-color: black;
    border-style: solid;
    border-top-width: 2px;
    // margin-right: -0.2rem;
}
.project__footnote {
    width: 100%;
    text-align: right;
    margin-bottom:2.5rem;
}
.project__legend__image {
    @extend %cover;
    object-fit: cover;
    width: 15rem;
}
.project__hero__image__mobile {
    @extend %cover;
    object-fit: cover;
    border-color: black;
    border-style: solid;
    border-top-width: 2px;
    width: 32rem;
}
.project__callout__wrapper{
    display:flex;
    justify-content: center;
    margin: 4rem auto;
}
.arrow {
    display: inline-block;
}