%title-100 {
    font-family: $font-americana-roman;
    font-size: 10rem;
    // height: 10rem;
    text-transform: uppercase;
    text-align: left;
    // color: white;
    mix-blend-mode:difference;
    color:white;

    @include media('<=phone') {
        font-size: 4.8rem;
     }
}

%title-60 {
    font-family: $font-americana-roman;
    font-size: 6rem;
    margin: 4rem auto;
    text-transform: uppercase;
    @include media('<=tablet') {
        font-size: 4.8rem;
        left:0;
     }
}

%title-20 {
    font-family: $font-trade-gothic-lh-extended;
    font-size: 2rem;

    @include media('<=phone') {
        font-size: 4.8rem;
     }
}