.loudMusic__project__title {
    @extend %title-60;

    // span {
    //     &:nth-child(1) {
    //         display: inline-block;
    //         transform: translateX(10rem);
    //     }
    //     &:nth-child(2) {
    //         display: inline-block;
    //         transform: translateX(0rem);
    //     }
    
    //     &:nth-child(3) {
    //         display: inline-block;
    //         transform: translateX(10rem);
    //     }

    //     &:nth-child(4) {
    //         display: inline-block;
    //         transform: translateX(5rem);
    //     }

    //     &:last-child {
    //         display: inline-block;
    //         transform: translateX(10rem);
    //     }
    // }

    @include media('<=tablet') {
        position:unset;
        right:50%;
    }
}
.loudMusic__home__project__title {
    @extend %title-60;
    span {
        &:nth-child(1) {
            display: inline-block;
            transform: translateX(-15rem);
        }
        &:nth-child(2) {
            display: inline-block;
            transform: translateX(-15rem);
        }
    
        &:nth-child(3) {
            display: inline-block;
            transform: translateX(-5rem);
        }

        &:nth-child(4) {
            display: inline-block;
            transform: translateX(-5rem);
        }
        &:nth-child(5) {
            display: inline-block;
            transform: translateX(-15rem);
        }
        &:nth-child(6) {
            display: inline-block;
            transform: translateX(-10rem);
        }
        &:nth-child(7) {
            display: inline-block;
            transform: translateX(-10rem);
        }

        &:last-child {
            display: inline-block;
            transform: translateX(-10rem);
        }
    }

    @include media('<=tablet') {
        position:unset;
        right:50%;
    }
}