$color-quater-spanish-white: #F9F1E7;
$color-quicksand: #BC978C;
$color-contessa: #C97164;
$color-cadet-blue: #B2B8C3;
$color-bright-gray: #37384C;

$font-americana-roman: 'Americana Roman';
$font-americana-bold: 'Americana Bold';
$font-americana-italic: 'Americana Italic';
$font-americana-extra-bold: 'Americana Extra Bold';
$font-trade-gothic-lh-bold-extended: 'Trade Gothic LH Bold Extended';
$font-trade-gothic-lh-extended: 'Trade Gothic LH Extended';
$ease-out-expo: cubic-bezier(0.19,1,0.22,1);

$z-indexes: (
    'preloader',
    'navigation',
    'content'
);